<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/Admin.css">
    <title>Scatch-Admin Panel</title>
</head>

<body>
    <!--Navigation Bar-->
    <div class="nav">
        <nav>
            <p id="logo">Scatch</p>
            <div class="nav-items">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                </ul>
            </div>
        </nav>
    </div>





    <!--Main Content-->
    <div class="main">
        <div class="container-1">
            <a href="">Create New Product</a>
            <a href="">Delete All</a>
        </div>
        <div class="container-2">
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>










</body>

</html>