<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AdminUpload.css">
    <title>Document</title>
</head>
<body>
    

        <!--Navigation Bar-->
        <div class="nav">
            <nav>
                <p id="logo">Scatch</p>
                <div class="nav-items">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Products</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    
    <!-- Form -->

<h2>Create New Product</h2>

<form action="" method="post">

<input type="text" name="" placeholder="Name of the product" id="">
<input type="number" name="" placeholder="Price" id="">
<input type="number" name="" placeholder="Discount" id="">
<input type="file" name="" id="">
<input type="button" value="Create" id="create">

</form>


</body>
</html>