<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Stylesheets/cart.css">
    <title>Document</title>
</head>

<body>
    <!--Navigation Bar-->
    <div class="nav">
        <nav>
            <p id="logo">Scatch</p>
            <div class="nav-items">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="">My Account</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Horizontal Line-->
    <hr>
    <!--Main Content-->
    <div class="main">
        <div class="container-1">
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        <p>+</p>
                    </div>
                    <div class="square">
                        <p>03</p>
                    </div>
                    <div class="circle">
                        <p>-</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-2">
            <p>Price Breakdown</p>
            <div class="price-info">
                <p>Total MRP Rs-2999</p>
                <p>Total MRP Rs-2999</p>
                <p>Total MRP Rs-2999</p>
                <p>Total MRP Rs-2999</p>
                <hr>
                <p>Total Amount Rs-3500</p>
            </div>
            <input type="button" value="Place Order" id="order">
        </div>
    </div>
</body>

</html>