<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Stylesheets/home.css">
    <title>Scatch</title>
</head>

<body>
    <div class="nav">
        <nav>
            <p id="logo">Scatch</p>
            <div class="nav-items">
                <ul>
                    <li><a href="/login">Login/SignUp</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/admin">Admin Login</a></li>
                    <li><a href="/account">My Account</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="container-1">
            <div class="info"><p>Sort By:</p> 
            <select name="" id="">
                <option value="">Price</option>
                <option value="">Model</option>
            </select>
            <a href="">All Products</a>
            <a href="">New collections</a>
            </div>
        </div>
        <div class="container-2">
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
            <div class="item">

                <img src="../Images/pexels-geyonk-1152077.jpg" alt="">

                <div class="item-box">
                    <div>
                        <p>Cling Bag</p>
                        <p>Rs-2999</p>
                    </div>
                    <div class="circle">
                        +
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>